body{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
   background-color: gray;
}
.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to right,
      rgba(245, 70, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    margin-top: -300px;
    border-radius: 50%;
    z-index: 1;
  }
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    width: 70vw;
    height: 47vw;
}
.card{
    border-radius: 10px;
    height: 40vw;
    width: 30vw;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    /* background: linear-gradient(to right,rgba(255, 255, 255, 0.883),rgba(0, 0, 0, 0.356)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
   margin-top: -100px;
   /* transform: rotateY(180deg); */
   z-index: 20;
   transition: all 1s;
}

h1{color: black;
    /* margin: -100px 0; */
    /* position: absolute; */
    /* top: 20rem; */
    z-index: 20;
    font-weight: 900;
    /* transform: translateZ(1000px); */
    transition: all 1s;
}
h3{ color: white;
    cursor: pointer;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 900;
    z-index: 20;
    transition: all 1s;
}
h2{
    color: black;
    z-index: 20;
    transition: all 1s;
}